<link rel="import" href="//polygit.org/components/polymer/polymer-element.html">
<link rel="import" href="//polygit.org/components/iron-icons/iron-icons.html">
<link rel="import" href="//polygit.org/components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="//polygit.org/components/paper-listbox/paper-listbox.html">
<link rel="import" href="//polygit.org/components/paper-item/paper-item.html">
<link rel="import" href="//polygit.org/components/app-layout/app-layout.html">

<link rel="import" href="prompt-choices.html">

<dom-module id="prompt-app">
  <template>
    <style>
      app-header {
        background-color: #00897B;
        color: #fff;
      }
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      paper-item {
        cursor: pointer;
      }
    </style>
    <app-drawer-layout>
      <app-drawer slot="drawer" swipe-open>
        <app-toolbar>Topics</app-toolbar>
        <paper-listbox attr-for-selected="item-index" selected="{{itemIndex}}" fallback-selection="">
          <template is="dom-repeat" items="[[promptChoices]]">
            <paper-item item-index="[[index]]">[[item.title]]</paper-item>
          </template>
        </paper-listbox>
      </app-drawer>
      <app-header-layout>
        <app-header slot="header" reveals>
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div>[[pageTitle]]</div>
          </app-toolbar>
        </app-header>
        <prompt-choices title="[[chosenPrompt.title]]" tsv-url="[[chosenPrompt.tsvUrl]]"></prompt-choices>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Define the class for a new element called custom-element
    class PromptApp extends Polymer.Element {
      static get is() { return "prompt-app"; }
      static get properties() {
        return {
          itemIndex: {
            type: Number
          },
          promptChoices: {
            type: Array,
            value: [
              {title: 'Proverbs', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=0&single=true&output=tsv'},
              {title: 'Objects', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=2103952916&single=true&output=tsv'},
              {title: 'Abstract Words', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=1125296434&single=true&output=tsv'},
              {title: 'Events', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=1547289887&single=true&output=tsv'},
              {title: 'Quotations', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=634864725&single=true&output=tsv'},
              {title: 'Famous People', tsvUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQbRmsmvzf-HXkK34x_JycrwD6n6uGlDdDZGGo0BvjrOgAH4Gc5aVVoCxsGmJOSM1GivhrXEkmqkuw1/pub?gid=1414675033&single=true&output=tsv'}
            ]
          },
          chosenPrompt: {
            type: Object,
            computed: 'choosePrompt(promptChoices, itemIndex)'
          },
          pageTitle: {
            type: String,
            value: 'Select a topic',
            computed: 'getPageTitle(chosenPrompt)'
          }
        }
      }
      choosePrompt() {
        return this.promptChoices[this.itemIndex];
      }
      getPageTitle(prompt) {
        let result = "Select a topic";
        if (prompt) {
          result = prompt.title;
        }
        return result;
      }
    }
    // Register the new element with the browser
    customElements.define(PromptApp.is, PromptApp);
  </script>
</dom-module>
