<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="prompt-service.html">

<dom-module id="prompt-choices">
  <template>
    <style>
      paper-spinner[aria-hidden] {
        display: none;
      }
      paper-spinner:not([aria-hidden]) {
        display: inline-block;
      }
      paper-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    </style>
    <prompt-service tsv-url="[[tsvUrl]]" last-result="{{prompts}}" loading="{{isLoading}}"></prompt-service>
    <paper-spinner active="[[isLoading]]"></paper-spinner>
    <div hidden="[[isLoading]]">
      <template is="dom-repeat" items="[[randomSelection]]" as="prompt">
        <paper-item heading="[[prompt]]">[[prompt]]</paper-item>
      </template>
    </div>
  </template>

  <script>
    // Define the class for a new element called custom-element
    class PromptChoices extends Polymer.Element {
      static get is() { return "prompt-choices"; }
      static get properties() {
        return {
          title: {
            type: String
          },
          tsvUrl: {
            type: String
          },
          prompts: {
            type: Array,
            value: [],
            observer: '_refresh'
          },
          refresh: {
            type: Boolean,
            notify: true,
            observer: '_refresh'
          }
        }
      }
      randomize(length, prompts) {
        let result = [];
        let i = length;
        while (prompts.length > i && i-- > 0) {
          let prompt = prompts[Math.floor(Math.random() * 1000) % prompts.length];
          if (result.includes(prompt)) {
            i++;
          } else {
            result.push(prompt);
          }
        }
        return result;
      }
      _refresh(newValue) {
        if (newValue) {
          this.setProperties({
            randomSelection: this.randomize(3, this.prompts),
            refresh: false
          });
        }
      }
    }
    // Register the new element with the browser
    customElements.define(PromptChoices.is, PromptChoices);
  </script>
</dom-module>
