<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="prompt-choices">
  <template>
    <style>
      paper-spinner[aria-hidden] {
        display: none;
      }
      paper-spinner:not([aria-hidden]) {
        display: inline-block;
      }
      paper-item {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    </style>
    <iron-ajax
    auto
    url="[[tsvUrl]]"
    handle-as="text"
    on-response="handleResponse"
    debounce-duration="300"
    loading="{{isLoading}}"></iron-ajax>
    <paper-spinner active="[[isLoading]]"></paper-spinner>
    <template is="dom-repeat" items="[[prompts]]" as="prompt">
      <paper-item heading="[[prompt]]">[[prompt]]</paper-item>
    </template>
  </template>

  <script>
    // Define the class for a new element called custom-element
    class PromptChoices extends Polymer.Element {
      static get is() { return "prompt-choices"; }
      static get properties() {
        return {
          title: {
            type: String
          },
          tsvUrl: {
            type: String
          },
          prompts: {
            type: Array,
            value: []
          }
        }
      }
      handleResponse(event) {
        let result = [];
        let respArray = event.detail.response.split('\n');

        let i = 3;
        while (respArray.length > i && i-- > 0) {
          let prompt = respArray[Math.floor(Math.random() * 1000) % respArray.length];
          if (result.includes(prompt)) {
            i++;
          } else {
            result.push(prompt);
          }
        }

        this.set('prompts', result);
      }
    }
    // Register the new element with the browser
    customElements.define(PromptChoices.is, PromptChoices);
  </script>
</dom-module>
